<!DOCTYPE html>
<html>

<head>
    <title>sdj ui</title>
    <% include _head.html %>
</head>

<body ontouchstart>


    <header class='demos-header'>
        <h1 class="demos-title">按钮</h1>
    </header>

    <div class='demos-content-padded'>
       
        <button type="button" class="ui-btn ui-btn-primary">确认</button>
        <button type="button" class="ui-btn ui-btn-primary ui-btn-disabled">确认</button>
        
        <button type="button" class="ui-btn">取消</button>
        <button type="button" class="ui-btn ui-btn-disabled">取消</button>
        
        <button type="button" class="ui-btn ui-btn-inline">确认</button>
        <button type="button" class="ui-btn ui-btn-inline ui-btn-small">确认</button>
        
    </div>
    <% include _foot.html %>
</body>

</html>