<!DOCTYPE html>
<html>
  <head>
    <title>sdj ui</title>
    <% include _head.html %>
  </head>

  <body ontouchstart>
    <div class="list-block contacts-block">
      <div class="ui-cells list-group">
        <div class="list-group-title">A</div>
        <div class="ui-cell">
          <div class="ui-cell-hd">
            <img src="" alt="" width="20">
          </div>
          <div class="ui-cell-bd ui-cell-primary">
            AxelLin
          </div>
        </div>
        <div class="ui-cell">
          <div class="ui-cell-hd">
            <img src="" alt="" width="20">
          </div>
          <div class="ui-cell-bd ui-cell-primary">
            AxelLin
          </div>
        </div>
        <div class="ui-cell">
          <div class="ui-cell-hd">
            <img src="" alt="" width="20">
          </div>
          <div class="ui-cell-bd ui-cell-primary">
            AxelLin
          </div>
        </div>
        <div class="ui-cell">
          <div class="ui-cell-hd">
            <img src="" alt="" width="20">
          </div>
          <div class="ui-cell-bd ui-cell-primary">
            AxelLin
          </div>
        </div>
      </div>
      <div class="ui-cells list-group">
        <div class="list-group-title">S</div>
        <div class="ui-cell">
          <div class="ui-cell-hd">
            <img src="" alt="" width="20">
          </div>
          <div class="ui-cell-bd ui-cell-primary">
            theif
          </div>
        </div>
        <div class="ui-cell">
          <div class="ui-cell-hd">
            <img src="" alt="" width="20">
          </div>
          <div class="ui-cell-bd ui-cell-primary">
            theif
          </div>
        </div>
        <div class="ui-cell">
          <div class="ui-cell-hd">
            <img src="" alt="" width="20">
          </div>
          <div class="ui-cell-bd ui-cell-primary">
            theif
          </div>
        </div>
        <div class="ui-cell">
          <div class="ui-cell-hd">
            <img src="" alt="" width="20">
          </div>
          <div class="ui-cell-bd ui-cell-primary">
            theif
          </div>
        </div>
      </div>
      <div class="ui-cells list-group">
        <div class="list-group-title">T</div>
        <div class="ui-cell">
          <div class="ui-cell-hd">
            <img src="" alt="" width="20">
          </div>
          <div class="ui-cell-bd ui-cell-primary">
            theif
          </div>
        </div>
        <div class="ui-cell">
          <div class="ui-cell-hd">
            <img src="" alt="" width="20">
          </div>
          <div class="ui-cell-bd ui-cell-primary">
            theif
          </div>
        </div>
        <div class="ui-cell">
          <div class="ui-cell-hd">
            <img src="" alt="" width="20">
          </div>
          <div class="ui-cell-bd ui-cell-primary">
            theif
          </div>
        </div>
        <div class="ui-cell">
          <div class="ui-cell-hd">
            <img src="" alt="" width="20">
          </div>
          <div class="ui-cell-bd ui-cell-primary">
            theif
          </div>
        </div>
      </div>
    </div>
    <% include _foot.html %>
  </body>
</html>
