<!DOCTYPE html>
<html>
  <head>
    <title>sdj ui</title>
    <% include _head.html %>
  </head>

  <body ontouchstart>

    <header class='demos-header'>
      <h1 class="demos-title">sdj ui</h1>
      <p class='demos-sub-title'>轻量强大的UI库，不仅仅是 ui</p>
    </header>

    <div class="ui-grids">
      <a href="buttons.html" class="ui-grid js-grid">
        <div class="ui-grid-icon">
          <img src="images/icon-nav-button.png" alt="">
        </div>
        <p class="ui-grid-label">
          Button
        </p>
      </a>
      <a href="cell.html" class="ui-grid js-grid">
        <div class="ui-grid-icon">
          <img src="images/icon-nav-cell.png" alt="">
        </div>
        <p class="ui-grid-label">
          List
        </p>
      </a>
      <a href="form.html" class="ui-grid js-grid">
        <div class="ui-grid-icon">
          <img src="images/icon-nav-cell.png" alt="">
        </div>
        <p class="ui-grid-label">
          Form
        </p>
      </a>
      <a href="toast.html" class="ui-grid js-grid">
        <div class="ui-grid-icon">
          <img src="images/icon-nav-toast.png" alt="">
        </div>
        <p class="ui-grid-label">
          Toast
        </p>
      </a>
      <a href="dialog.html" class="ui-grid js-grid">
        <div class="ui-grid-icon">
          <img src="images/icon-nav-dialog.png" alt="">
        </div>
        <p class="ui-grid-label">
          Dialog
        </p>
      </a>
      <a href="msg.html" class="ui-grid js-grid">
        <div class="ui-grid-icon">
          <img src="images/icon-nav-msg.png" alt="">
        </div>
        <p class="ui-grid-label">
          Msg
        </p>
      </a>
      <a href="action-sheet.html" class="ui-grid js-grid">
        <div class="ui-grid-icon">
          <img src="images/icon-nav-actionSheet.png" alt="">
        </div>
        <p class="ui-grid-label">
          ActionSheet
        </p>
      </a>
      <a href="icons.html" class="ui-grid js-grid">
        <div class="ui-grid-icon">
          <img src="images/icon-nav-icons.png" alt="">
        </div>
        <p class="ui-grid-label">
          Icons
        </p>
      </a>
      <a href="tab.html" class="ui-grid js-grid">
        <div class="ui-grid-icon">
          <img src="images/icon-nav-tab.png" alt="">
        </div>
        <p class="ui-grid-label">
          tab
        </p>
      </a>
      <a href="searchbar.html" class="ui-grid js-grid">
        <div class="ui-grid-icon">
          <img src="images/icon-nav-search-bar.png" alt="">
        </div>
        <p class="ui-grid-label">
          SearchBar
        </p>
      </a>
      <a href="toptip.html" class="ui-grid js-grid">
        <div class="ui-grid-icon">
          <img src="images/icon-nav-msg.png" alt="">
        </div>
        <p class="ui-grid-label">
          Toptip
        </p>
      </a>
    </div>

    <div class="demos-header">
      <h2 class='demos-second-title'>拓展组件</h2>
      <p class='demos-sub-title'>sdj ui 专属组件</p>
    </div>

    <div class="ui-grids">
      <a href="ptr.html" class="ui-grid js-grid">
        <div class="ui-grid-icon">
          <img src="images/icon-nav-ptr.png" alt="">
        </div>
        <p class="ui-grid-label">
          下拉刷新
        </p>
      </a>
      <a href="infinite.html" class="ui-grid js-grid">
        <div class="ui-grid-icon">
          <img src="images/icon-nav-up.png" alt="">
        </div>
        <p class="ui-grid-label">
          滚动加载
        </p>
      </a>
      <a href="cols.html" class="ui-grid js-grid">
        <div class="ui-grid-icon">
          <img src="images/icon-nav-cell.png" alt="">
        </div>
        <p class="ui-grid-label">
          12栏栅格
        </p>
      </a>
      <a href="picker.html" class="ui-grid js-grid">
        <div class="ui-grid-icon">
          <img src="images/icon-nav-picker.png" alt="">
        </div>
        <p class="ui-grid-label">
          Picker
        </p>
      </a>
      <a href="calendar.html" class="ui-grid js-grid">
        <div class="ui-grid-icon">
          <img src="images/icon-nav-calendar.png" alt="">
        </div>
        <p class="ui-grid-label">
          Calendar
        </p>
      </a>
      <a href="city-picker.html" class="ui-grid js-grid">
        <div class="ui-grid-icon">
          <img src="images/icon-nav-city.png" alt="">
        </div>
        <p class="ui-grid-label">
          City Picker
        </p>
      </a>
      <a href="datetime-picker.html" class="ui-grid js-grid">
        <div class="ui-grid-icon">
          <img src="images/icon-nav-datetime.png" alt="">
        </div>
        <p class="ui-grid-label">
          Datetime
        </p>
      </a>
      <a href="swiper.html" class="ui-grid js-grid">
        <div class="ui-grid-icon">
          <img src="images/icon-nav-swiper.png" alt="">
        </div>
        <p class="ui-grid-label">
          Swiper
        </p>
      </a>
      <a href="select.html" class="ui-grid js-grid">
        <div class="ui-grid-icon">
          <img src="images/icon-nav-select.png" alt="">
        </div>
        <p class="ui-grid-label">
          Select
        </p>
      </a>
      <a href="popup.html" class="ui-grid js-grid">
        <div class="ui-grid-icon">
          <img src="images/icon-nav-panel.png" alt="">
        </div>
        <p class="ui-grid-label">
          Popup
        </p>
      </a>
      <a href="photo-browser.html" class="ui-grid js-grid open-popup">
        <div class="ui-grid-icon">
          <img src="images/icon-nav-photo.png" alt="">
        </div>
        <p class="ui-grid-label">
          Photos
        </p>
      </a>
      <a href="upload-file.html" class="ui-grid js-grid open-popup">
        <div class="ui-grid-icon">
          <img src="images/icon-nav-photo.png" alt="">
        </div>
        <p class="ui-grid-label">
          upload File
        </p>
      </a>
    </div>

    <% include _foot.html %>
    </body>

  </html>
